@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Jacob Wilkinson | Overview";
}
<!DOCTYPE html>

<body>
    <h1>Jacob Wilkinson</h1>
    <img src="img/20230102_153204.jpg" height="525" width="400" />
    <h3>What I hope to get out of IS413: </h3>
    <p>
        I hope to sharpen my general programming skills while at the same time learn as much as I can about
        ASP.NET and C#. I would like to get a better gauge on how much I enjoy programming in general as well to see
        if it is something that I would like to do long-term in my career. I would like to understand more about how the
        backend and database connects to the frontend of the website to enable me in my current job as a product manager to
        better communicate and ideate with my engineering team to produce the best outcomes possible.
    </p> <br />

    <h2>My top three potential careers:</h2>
    <ul>
        <li>Product Manager</li>
        <li>Solutions Architect</li>
        <li>Machine Learning Engineer</li>
    </ul><br />

</body>
